{% extends 'layouts/background.html' %}
{% load static %}

{% block header %}
    <div class="h1_header text-center border-1">
        <h1 class="font-f-g text-center" style="    font-size: 170px; color: #CDAA7D">404</h1>
        <h1 class="font-f-g text-center text-white" style="font-size: 30px;">OOOPS! PAGE NOT FOUND!</h1>
        <p class="text-white font-f-cg lh-5" style="font-size: 24px">Sorry, the page you're looking for doesn't exist. If you think something is wrong or broken report a
            problem</p>
        <a href="">GO BACK</a>
    </div>
{% endblock header %}