{% load static %}
<footer class="section" id="footer">
    <div class="footer_con" style="padding-top: 100px;">
        <div class="footer_2 border-bottom border-top row row-cols-2 row-cols-lg-4 justify-content-between align-items-start ms-3 me-3"
             style="padding-top: 80px;padding-bottom:80px;">
            <div class="f_con pb-0 col ps-0 ps-sm-2">
                <h4 class="font-f-g text-white h5 h4-sm w-50 w-sm-100">РАСПОЛОЖЕНИЕ</h4>
                <p class="font-f-cg text-white">100084, Ташкентская область, г. <br> Ташкент,
                    Юнусабадский район,<br> проспект Амира Темура, 07 А</p>

            </div>
            <div class="f_con pb-0 col">
                <h4 class="font-f-g text-white h5 h4-sm w-50 w-sm-100">КОНТАКТЫ</h4>
                <p class="font-f-cg text-white"><a href="tel:+78121234567" class="heanav">+7
                    (812) 123-45-67</a></p>
                <p class="font-f-cg text-white"><a
                        href="mailto:Delote_Beauty_salon@gmail.com" class="heanav">Delote_Beauty_salon@gmail.com</a></p>
            </div>
            <div class="f_con pb-0 col ps-0 ps-sm-2">
                <h4 class="font-f-g text-white h5 h4-sm">РЕЖИМ РАБОТЫ</h4>
                <p class="font-f-cg text-white">C 10:00 до 21:00 (Пн-Пт)</p>
                <p class="font-f-cg text-white">С 11:00 до 20:00 Сб</p>
                <p class="font-f-cg text-white">Закрыто в Воскресенье</p>
            </div>
            <div class="f_con pb-0 col h5 h4-sm">
                <h4 class="font-f-g text-white">КАРЬЕРА</h4>
                <p class="font-f-cg text-white">Если вы заинтересованы в карьере в салоне и спа
                    <br> Delote-Beauty, мы хотели бы с вами познакомиться.
                    <br>Для получения дополнительной информации <br>о доступных возможностях <a href="#"
                                                                                                class="heanav_1">нажмите
                        здесь.</a></p>
            </div>
        </div>
        <div class="f_span text-center pt-3 pb-3">
            <span class="text-white">Copyright © 2017 - 2023</span>
        </div>
    </div>
</footer>