{% extends "layouts/base-1.html" %}
{% load static %}


{% block content %}
        <section id="section_6">
        <div class="section_1_d">
            <div class="sec_1sen text-center">
                <h1 class="text-white font-f-g">Контакты</h1>
            </div>
            <div class="sec_1img container pt-5">
                <div class="contacts img card bg-black" style="background-color: black">
{#                    <img src="{% static "main/img/Rectangle 40global.jpg" %}" alt="">#}
                    <p><iframe class="opacity_img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191884.83987229373!2d69.11455884790136!3d41.282737945974475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b0cc379e9c3%3A0xa5a9323b4aa5cb98!2sTashkent%2C%20Uzbekistan!5e0!3m2!1sen!2s!4v1699033758483!5m2!1sen!2s" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                </div>
{#                <div class="footer row  ms-3 me-3 pb-0" style="padding-top: 80px;padding-bottom:80px;">#}
{#                      <div class="f_con pb-0 col">#}
{#                        <h4 class="font-f-g text-white">РАСПОЛОЖЕНИЕ</h4>#}
{#                        <p class="font-f-cg text-white" style="font-size: 14px">100084, Ташкентская область, г. <br> Ташкент, Юнусабадский район,<br> проспект Амира Темура, 07 А</p>#}
{##}
{#                    </div>#}
{#                    <div class="f_con pb-0 col">#}
{#                        <h4 class="font-f-g text-white">КОНТАКТЫ</h4>#}
{#                        <p class="font-f-cg text-white" style="font-size: 14px"><a href="tel:+78121234567" class="heanav">+7 (812) 123-45-67</a></p>#}
{#                        <p class="font-f-cg text-white" style="font-size: 14px"><a href="mailto:Delote_Beauty_salon@gmail.com" class="heanav">Delote_Beauty_salon@gmail.com</a></p>#}
{#                    </div>#}
{#                    <div class="f_con pb-0 col-auto">#}
{#                        <h4 class="font-f-g text-white">РЕЖИМ РАБОТЫ</h4>#}
{#                        <p class="font-f-cg text-white" style="font-size: 14px">C 10:00 до 21:00 (Пн-Пт)</p>#}
{#                        <p class="font-f-cg text-white" style="font-size: 14px">С 11:00 до 20:00 Сб</p>#}
{#                        <p class="font-f-cg text-white" style="font-size: 14px;">Закрыто в Воскресенье</p>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
{% endblock content %}